<div class="goodsDelay">
    <div class="tab_nav">
        <div class="pull-left">
            <div class="form-group pull-left">
                <label>时间查询</label>
                <input type="date" class="time st_time" id="st">至
                <input type="date" class="time et_time" id="et">
            </div>
            <div class="form-group pull-left">
                <a class="btn" id="goodsSearch">查询</a>
                <a class="btn" id="goodsEmpty">清空</a>
            </div>
        </div>
        <div class="pull-right">
            <span class="btn active" id="getGoodsTime">取货超时</span>
            <span class="btn" id="sendGoodsTime">发货超时</span>
        </div>
    </div>
    <div class="tab_box commonTab">
        <table class="goodsTimeout table-bordered table">
            <thead>
            <tr>
                <th style="width: 50px;">序号</th>
                <th style="width: 100px">创建日期</th>
                <th style="width: 80px">车次</th>
                <th style="width: 140px">发货方姓名</th>
                <th style="width: 140px">收货方姓名</th>
                <th style="width: 100px">纳期</th>
                <th style="width: 55px">纳时</th>
                <th style="width: 84px">铁架-胶箱</th>
                <th style="width: 78px">订单状态</th>
                <th style="width: 85px">司机车牌</th>
                <th style="width: 80px">接单司机</th>
                <th style="width: 150px">开始时间</th>
                <th style="width: 150px">结束时间</th>
                <th style="width: 80px">时长</th>
                <th style="width: 50px">操作</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="/static/js/goods.js"></script>