<div class="aside">
    <ul class="nav pull-left" id="mytab">
        <li><a href="#">首页</a></li>
        <li class="billing">
            <a href="#">开单</a>
            <ul>
                <li id="q"><a href="#">开单</a></li>
                <li><a href="#">一装多卸</a></li>
                <li><a href="#">批量导入</a></li>
            </ul>
        </li>
        <li><a href="#">订单管理</a></li>
        <li><a href="#">车队管理</a></li>
        <li><a href="#">财务管理</a></li>
        <li><a href="#">客户管理</a></li>
        <li><a href="#">公司管理</a></li>
        <li><a href="#">系统设置</a></li>
    </ul>
</div>
<div class="top"></div>