.cM_hd {
    margin-top: 10px;
    padding:5px;
    background: #fff;
    min-width: 700px;
}
.cM_hd .sort{
    display: inline-block;
}
.cM_hd .sort>a,.cM_hd>a{
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    color: #6d6d6d;
    border: 1px solid #eee;
    border-radius: 4px;
}
.cM_hd .sort>a.active,.cM_hd>a{
    background: #2f90eb;
    color: #fff;
}
.cM_hd .sort>a.active:hover,.cM_hd>a:hover{
    background: #319af9;
}
#client .tab_box .table{min-width: 900px}
/*表格切换*/
.clientsManage>div.tab_box{
    display: none;
}
.clientsManage>div.tab_box.active{
    display: block;
}
/*手机号码验证*/
.checkPhone{
    position: absolute;
    left:100px;
    top:89px;
    font-size: 10px;
    color:#f00;
    display: none;
}

